---
import SidebarKiri from "../komponen/sidebar.astro";
import SidebarKanan from "../komponen/sidebar-postingan.astro";
import { SEOMetadata } from "astro-seo-metadata";
import { acak } from "kumpulan-tools";

const { judul, deskripsi, isBeranda, tanggal } = Astro.props;

let gambarGambar = import.meta.glob("../wallpaper/*.jpg", {
  eager: true,
});
gambarGambar = Object.values(gambarGambar);
const gambarTerpilih = acak(gambarGambar)[0].default;

const tulisan = await Astro.glob("../pages/post/*.mdx");
let semuaKategori = [];
for (let x of tulisan) {
  semuaKategori.push(x.frontmatter.kategori);
}
semuaKategori = [...new Set(semuaKategori)].sort();
semuaKategori = ["beranda", ...semuaKategori];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="robots"
      content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
    />
    {tanggal && <meta property="article:modified_time" content={tanggal} />}
    <SEOMetadata
      siteName="Zen Zen"
      title={judul}
      description={deskripsi}
      image={gambarTerpilih}
      favicon="/vite.svg"
      author="Zen"
      copyright="MIT"
      astroSitemap={true}
      canonicalUrl={Astro.url.toString()}
      type="website"
      astroGenerator={true}
    />
    <meta name="twitter:site" content="Zen Zen" />
    <meta name="twitter:image" content={gambarTerpilih} />
    <meta property="og:url" content={Astro.url.toString()} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap&text=Zen"
      rel="stylesheet"
    />
    <style>
      body {
        @apply min-h-screen w-full;
        background-image: url("/latar.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
      }
      .judul {
        font-family: "Great Vibes", cursive;
      }
    </style>
    <style is:global>
      .gadget > * {
        @apply rounded bg-white overflow-hidden shadow last:sticky block text-sm last:top-11 mb-2 last:mb-0;
      }
      .gadget img {
        @apply w-full h-auto;
      }
    </style>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="pt-16 latar">
      {
        isBeranda ? (
          <h1 class="judul text-white text-3xl text-center">Zen Zen</h1>
        ) : (
          <div class="judul text-white text-3xl text-center">Zen Zen</div>
        )
      }
      <div class="mt-16 w-[900px] max-w-full mx-auto">
        <div
          class="sm:rounded bg-white w-full flex sticky top-0 z-10 shadow overflow-x-auto"
        >
          {
            semuaKategori.map((x) => (
              <a
                class="p-2 text-sm "
                href={x == "beranda" ? "/" : `/kategori/${x}`}
              >
                {x}
              </a>
            ))
          }
        </div>
        <div
          class="isinya my-2 grid grid-cols-1 sm:grid-cols-5 w-[95%] sm:w-full mx-auto gap-2"
        >
          <div class="tengah col-span-1 sm:col-span-3">
            <form action="" class="rounded mb-2 shadow bg-white form-cari p-2">
              <input
                type="search"
                class="w-full border-2 border-gray-500 input-cari p-1 text-sm"
                placeholder="Cari apa?"
                required
              />
            </form>
            <slot />
          </div>
          <div class="sidebar-kiri gadget col-span-1 sm:order-first">
            <SidebarKiri />
          </div>
          <div class="sidebar-kanan gadget col-span-1">
            <SidebarKanan />
          </div>
        </div>
      </div>
    </div>
    <script is:inline>
      const formnya = document.querySelector(".form-cari");
      const inputnya = document.querySelector(".input-cari");

      formnya.addEventListener("submit", (x) => {
        x.preventDefault();
        window.location.href = `/cari?${encodeURIComponent(inputnya.value)}`;
      });
    </script>
  </body>
</html>
