---
import DesainBaru from "./desain-baru.astro";

const tulisan = await Astro.glob("../pages/post/*.mdx");
const { kategori } = Astro.props;

let semuaTulisan = [...tulisan].sort((a, b) =>
  new Date(a.frontmatter.tanggal) < new Date(b.frontmatter.tanggal) ? 1 : -1
);
if (kategori) {
  semuaTulisan = semuaTulisan.filter((x) => x.frontmatter.kategori == kategori);
}
---

<DesainBaru
  judul={kategori ? `Kategori ${kategori}` : "Zen Zen"}
  deskripsi={kategori
    ? `Postingan-postingan tentang ${kategori}`
    : "Membahas segala hal tentang teknologi dan kehidupan"}
  isBeranda={true}
>
  {
    kategori && (
      <div class="mb-2 rounded p-2 shadow bg-white">Kategori {kategori}</div>
    )
  }
  {
    semuaTulisan.map((x) => (
      <a href={x.url} class="rounded p-2 bg-white block shadow mb-2 last:mb-0">
        <strong class="uppercase">{x.frontmatter.judul}</strong>
        <div class="text-sm">{x.frontmatter.ringkasan}</div>
      </a>
    ))
  }
</DesainBaru>
