---
// @ts-ignore
import pluang from "../gambar/pluang.jpeg";
// @ts-ignore
import domainesia from "../gambar/banner-3.svg";
import excalibur from "excalibur-zen";
import { url } from "gravatar";
import { sql, komentar } from "../data/api";

const tulisan = await Astro.glob("../pages/post/*.mdx");
let semuaTulisan = [...tulisan]
  .sort((a, b) =>
    new Date(a.frontmatter.tanggal) < new Date(b.frontmatter.tanggal) ? 1 : -1
  )
  .splice(0, 5);

let komentarTerbaru = await excalibur(sql, {
  id: komentar,
  kunci: "komentarTerbaru",
});
komentarTerbaru = await komentarTerbaru.json();

const { classnya } = Astro.props;

const blogroll = [
  {
    judul: "Kursi Rakyat",
    link: "https://kursirakyat.com",
  },
];
---

<div class={"p-2  " + classnya}>
  <div class="mb-3">
    <h2 class="judul">Blogroll</h2>
    <ol>
      {
        blogroll.map((x) => {
          return (
            <li class="list-decimal ml-5 mb-2 last:mb-0">
              <a class="underline" href={x.link}>
                {x.judul}
              </a>
            </li>
          );
        })
      }
    </ol>
  </div>

  <div class="mb-3">
    <h2 class="judul">Komentar Terbaru</h2>
    <ol>
      {
        komentarTerbaru.map((x) => {
          return (
            <li>
              <strong>{x.nama}</strong> : {x.komentar}
            </li>
          );
        })
      }
    </ol>
  </div>

  <div class="sticky top-[60px]">
    <h2 class="judul">Tulisan Terbaru</h2>
    <ol>
      {
        semuaTulisan.map((x) => (
          <li class="list-decimal ml-5 mb-2 last:mb-0">
            <a href={x.url} class="underline">
              {x.frontmatter.judul}
            </a>
          </li>
        ))
      }
    </ol>
  </div>
</div>

<style>
  img {
    @apply block mx-auto;
  }
  .judul {
    @apply font-bold text-blue-500 uppercase text-lg;
  }
</style>
