---
import HalamanAwal from "../layout/halaman-awal.astro";
import semuaPostingan from "../data/semua-postingan";
import konfigurasi from "../konfigurasi.yml";
import Iklan from "../komponen/iklan.svelte";
import InfiniteScroll from "../komponen/infinite-scroll.astro";
import TampilIklan from '../komponen/tampil-iklan.astro'
---

<HalamanAwal link_aktif="beranda" judul={konfigurasi.judul}>
    <div class="wadah-postingan grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-4 sm:gap-4">
        {
            semuaPostingan().slice(0, 11)
                .map((x) => (
                    <a class='postingan' href={`/post/${x.slug}`}>
                        <img
                            class="sm:rounded-xl w-full aspect-[304/171] object-cover"
                            src={x.gambar}
                            loading="lazy"
                            alt={`Gambar ${x.title}`}
                        />
                        <p class="p-5 sm:px-0 sm:pt-3 sm:pb-5">{x.title}</p>
                    </a>
                ))
        }
        <div class="mb-10">
            <TampilIklan></TampilIklan>
        </div>
       <a href="/halaman/2" class='tombol-selanjutnya absolute -left-9999 -top-99999 underline uppercase text-sm text-center block mt-3'>Selanjutnya &rarr;</a>
    </div>
    <InfiniteScroll></InfiniteScroll>
</HalamanAwal>
