---
import Cari from "../icon/cari.astro";
import Nama from "../data/nama";
import Head from "../include/head.astro";
import Komentar from "../komponen/komentar.svelte";
import { acak } from "kumpulan-tools";
import { SEOMetadata } from "astro-seo-metadata";
import Sidebar from "../komponen/sidebar.astro";
import SidebarPostingan from "../komponen/sidebar-postingan.astro";

const { frontmatter } = Astro.props;

// @ts-ignore
let gambarGambar = import.meta.glob("../wallpaper/*.jpg", {
  eager: true,
});
gambarGambar = Object.values(gambarGambar);
const gambarTerpilih = acak(gambarGambar)[0];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <SEOMetadata
      siteName="Zen"
      title={frontmatter.judul}
      description={frontmatter.ringkasan}
      image={gambarTerpilih.default}
      favicon="/vite.svg"
      author="Zen"
      copyright="MIT"
      astroSitemap={true}
      canonicalUrl={Astro.url.toString()}
      type="article"
      astroGenerator={true}
    />
    <Head />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div
      class="bg-black text-white z-[100] font-bold uppercase flex justify-between sticky top-0"
    >
      <a href="/" class="p-3 inline-block">{Nama}</a>
      <div
        class="p-3 -mt-1 pr-2 pb-0 inline-block cursor-pointer tombol-cari-post"
      >
        <Cari />
      </div>
    </div>
    <div class="grid grid-cols-8 gap-2">
      <Sidebar classnya="hidden sm:block col-span-2" />
      <div class="col-span-8 sm:col-span-4">
        <div class="p-2 prose max-w-full konten py-6">
          <h1>{frontmatter.judul}</h1>
          <p><em>{frontmatter.ringkasan}</em></p>
          <p><img src={gambarTerpilih.default} alt="" /></p>
          <slot />
        </div>
        <a
          href="https://chat.whatsapp.com/C5oqIvKgRww0CeNRO34JbL"
          class="rounded px-4 py-2 bg-black text-white font-bold block w-min whitespace-nowrap mb-5 mx-auto"
          >Join Komunitas</a
        >
        <div class="w-[65ch] max-w-[95%] pb-6 mx-auto">
          <Komentar client:only slug={frontmatter.url} />
        </div>
      </div>
      <SidebarPostingan classnya="hidden sm:block col-span-2" />
    </div>
    <style is:global>
      .konten img,
      .konten iframe {
        @apply mx-auto block;
      }
      .konten iframe {
        @apply max-w-full;
      }
    </style>
    <script is:inline>
      const tombolCari = document.querySelector(".tombol-cari-post");
      tombolCari.addEventListener("click", () => {
        const input = prompt("Cari apa?");
        if (input) {
          window.location.href = `/cari?${encodeURIComponent(input)}`;
        }
      });
    </script>
  </body>
</html>
