---
import Cari from "../icon/cari.astro";
import Nama from "../data/nama";
import Head from "../include/head.astro";
import Komentar from "../komponen/komentar.svelte";
import { acak } from "kumpulan-tools";
import { SEOMetadata } from "astro-seo-metadata";
import Sidebar from "../komponen/sidebar.astro";
import SidebarPostingan from "../komponen/sidebar-postingan.astro";
import DesainBaru from "../template/desain-baru.astro";

const { frontmatter } = Astro.props;

// @ts-ignore
let gambarGambar = import.meta.glob("../wallpaper/*.jpg", {
  eager: true,
});
gambarGambar = Object.values(gambarGambar);
const gambarTerpilih = acak(gambarGambar)[0];

const tulisan = await Astro.glob("../pages/post/*.mdx");

let semuaKategori = [];
for (let x of tulisan) {
  semuaKategori.push(x.frontmatter.kategori);
}
semuaKategori = [...new Set(semuaKategori)].sort();
---

<DesainBaru judul={frontmatter.judul} tanggal={frontmatter.tanggal} deskripsi={frontmatter.ringkasan}>
  <div class="p-2 prose max-w-full konten py-6 bg-white rounded shadow mb-2">
    <h1>{frontmatter.judul}</h1>
    <p><em>{frontmatter.ringkasan}</em></p>
    <p><img src={gambarTerpilih.default} alt="" /></p>
    <slot />
  </div>
  <a
    href="/komunitas"
    class="rounded px-4 py-2 bg-white border-black border-2 tombol font-bold block w-min whitespace-nowrap mb-2 mx-auto"
    >Join Komunitas</a
  >
  <div class="w-[65ch] max-w-[95%] pb-6 mx-auto">
    <Komentar client:only slug={frontmatter.url} />
  </div>
</DesainBaru>

<style is:global>
  .konten img,
  .konten iframe {
    @apply mx-auto block;
  }
  .konten iframe {
    @apply max-w-full;
  }
</style>
<style>
  .tombol {
    box-shadow: 5px 5px 0 0 black;
  }
</style>

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <SEOMetadata
      siteName="Zen"
      title={frontmatter.judul}
      description={frontmatter.ringkasan}
      image={gambarTerpilih.default}
      favicon="/vite.svg"
      author="Zen"
      copyright="MIT"
      astroSitemap={true}
      canonicalUrl={Astro.url.toString()}
      type="article"
      astroGenerator={true}
    />
    <Head />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="flex justify-between">
      <h1>
        <a class="p-3 font-bold uppercase inline-block" href="/">{Nama}</a>
      </h1>
      <div>
        <div
          class="p-3 -mt-1 -mb-3 pr-2 inline-block cursor-pointer tombol-cari"
        >
          <Cari />
        </div>
      </div>
    </div>
    <div class="p-2 flex gap-2 overflow-x-auto sticky top-0 bg-black">
      <a class="itemnya" href="/">all</a>
      {
        semuaKategori.map((x) => (
          <a class="itemnya" href={`/kategori/${x}`}>
            {x}
          </a>
        ))
      }
    </div>
    <div class="grid grid-cols-10 gap-2">
      <Sidebar classnya="hidden sm:block col-span-2" />
      <div class="col-span-10 sm:col-span-6">
        <div class="p-2 prose max-w-full konten py-6">
          <h1>{frontmatter.judul}</h1>
          <p><em>{frontmatter.ringkasan}</em></p>
          <p><img src={gambarTerpilih.default} alt="" /></p>
          <slot />
        </div>
        <a
          href="/komunitas"
          class="rounded px-4 py-2 bg-black text-white font-bold block w-min whitespace-nowrap mb-5 mx-auto"
          >Join Komunitas</a
        >
        <div class="w-[65ch] max-w-[95%] pb-6 mx-auto">
          <Komentar client:only slug={frontmatter.url} />
        </div>
      </div>
      <SidebarPostingan classnya="hidden sm:block col-span-2" />
    </div>
    <style is:global>
      .konten img,
      .konten iframe {
        @apply mx-auto block;
      }
      .konten iframe {
        @apply max-w-full;
      }
    </style>
    <style>
      .itemnya {
        @apply text-sm  px-1  text-white font-bold;
      }
    </style>
    <script is:inline>
      const tombolCari = document.querySelector(".tombol-cari");
      tombolCari.addEventListener("click", () => {
        const input = prompt("Cari apa?");
        if (input) {
          window.location.href = `/cari?${encodeURIComponent(input)}`;
        }
      });
    </script>
  </body>
</html> -->
