---
import Cari from "../icon/cari.astro";
import Nama from "../data/nama";
import Head from "../include/head.astro";
import Komentar from "../komponen/komentar.svelte";

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{frontmatter.judul}</title>
  </head>
  <body>
    <div
      class="bg-black text-white font-bold uppercase flex justify-between sticky top-0"
    >
      <a href="/" class="p-3 inline-block">{Nama}</a>
      <div
        class="p-3 -mt-1 pr-2 pb-0 inline-block cursor-pointer tombol-cari-post"
      >
        <Cari />
      </div>
    </div>
    <div class="p-2 prose mx-auto konten py-6">
      <h1>{frontmatter.judul}</h1>
      <p><em>{frontmatter.ringkasan}</em></p>
      <slot />
    </div>
    <a
      href="/komunitas-id"
      class="rounded px-4 py-2 bg-black text-white font-bold block w-min whitespace-nowrap mb-5 mx-auto"
      >Join Komunitas</a
    >
    <div class="w-[65ch] max-w-[95%] pb-6 mx-auto">
      <Komentar client:only slug={frontmatter.url} />
    </div>
    <style is:global>
      .konten img {
        @apply mx-auto block;
      }
      .konten iframe {
        @apply max-w-full;
      }
    </style>
    <script is:inline>
      const tombolCari = document.querySelector(".tombol-cari-post");
      tombolCari.addEventListener("click", () => {
        const input = prompt("Cari apa?");
        if (input) {
          window.location.href = `/cari?${encodeURIComponent(input)}`;
        }
      });
    </script>
  </body>
</html>
